@{
    ViewData["Title"] = "Crear pedido";
}

@model Cadeteria.ViewModels.CrearPedidoViewModel

<section class="crear-pedido">
    <h2>Crear pedido</h2>
    <form method="post" class="form-create">
        <h4>Datos del pedido</h4>
        <label asp-for="@Model.Detalles"></label>
        <input asp-for="@Model.Detalles">

        <input asp-for="@Model.NuevoCliente" hidden>

        <h5>Cliente</h5>
        <a id="boton-cliente" href="#" onclick="manejoClientes()">Nuevo</a>

        <!-- Cliente existente -->
        <section id="selec-cliente">
        <label asp-for="@Model.IDCliente">Seleccionar</label>
        @if(DataModel.ClienteList.Count > 0)
        {
            <select asp-for="@Model.IDCliente">
                @foreach (var cliente in DataModel.ClienteList)
                {
                    <option value="@cliente.Key">@cliente.Value.nombre</option>
                }
            </select>
        }
        else
        {
            <p>No hay ningún cliente</p>
        }
        </section>

        <!-- Cliente nuevo -->
        <section id="nuevo-cliente">
            <label asp-for="@Model.NombreCliente"></label>
            <input asp-for="@Model.NombreCliente">

            <label asp-for="@Model.DireccionCliente"></label>
            <input asp-for="@Model.DireccionCliente">

            <label asp-for="@Model.TelefonoCliente"></label>
            <input asp-for="@Model.TelefonoCliente">
        </section>
        <button>Ingresar</button>
    </form>
</section>