@{
    ViewData["Title"] = "Crear pedido";
}

@model Cadeteria.ViewModels.CrearPedidoViewModel

<section class="crear-pedido">
    <h2>Crear pedido</h2>
    <form method="post">
        <h3>Datos del pedido</h3>
        <label asp-for="@Model.Detalles"></label>
        <input asp-for="@Model.Detalles">

        <h5>Datos del cliente</h5>
        <label asp-for="@Model.IDCliente"></label>
        <input asp-for="@Model.IDCliente">

        <label asp-for="@Model.NombreCliente"></label>
        <input asp-for="@Model.NombreCliente">

        <label asp-for="@Model.DireccionCliente"></label>
        <input asp-for="@Model.DireccionCliente">

        <label asp-for="@Model.TelefonoCliente"></label>
        <input asp-for="@Model.TelefonoCliente">

        <label asp-for="@Model.DatosRefCliente"></label>
        <input asp-for="@Model.DatosRefCliente">
        <button>Ingresar</button>
    </form>
</section>