@{
    ViewData["Title"] = "Crear pedido";
}

@model Cadeteria.ViewModels.CrearPedidoViewModel

<section class="crear-pedido">
    <h2>Crear pedido</h2>
    <form method="post">
        <h3>Datos del pedido</h3>
        <label asp-for="@Model.Detalles"></label>
        <input asp-for="@Model.Detalles">

        <h5>Seleccionar cliente</h5>
        @if(DataModel.ClienteList.Count > 0)
        {
            <select asp-for="@Model.IDCliente">
                @foreach (var cliente in DataModel.ClienteList)
                {
                    <option value="@cliente.Key">@cliente.Value.nombre</option>
                }
            </select>
        }
        else
        {
            <p>No hay ningún cliente</p>
        }
        <button>Ingresar</button>
    </form>
</section>