@{
    ViewData["Title"] = "Detalles del pedido";
}
@model Cadeteria.ViewModels.PedidoViewModel

<section class="detalles-pedido">
    <h2>Detalles del pedido</h2>
    <p><strong>Número: </strong>@Model.NumPedido</p>
    <p><strong>Detalles: </strong>@Model.Detalles</p>
    <h4>Datos del cliente</h4>
    <p><strong>Nombre: </strong>@Model.Cliente.Nombre</p>
    <p><strong>Dirección: </strong>@Model.Cliente.Direccion</p>
    <p><strong>Teléfono: </strong>@Model.Cliente.Telefono</p>
</section>