@{
    ViewData["Title"] = "Pedidos";
}

@model List<Cadeteria.ViewModels.PedidoViewModel>

<section class="crear">
    <a asp-controller="Pedido" asp-action="Create">+</a>
</section>

<section class="pedidos">
    @if(Model.Count > 0)
    {
        <table>
            <thead>
            <th>Detalles</th>
            <th>Estado</th>
            <th>Cadete</th>
            <th>Acciones</th>
            </thead>
            <tbody>
                @foreach (var pedido in Model)
                {
                    <tr>
                        <td>@pedido.Detalles</td>
                        <td>@pedido.ObtenerEstado()</td>
                        @if (pedido.NombreCadete == null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@pedido.NombreCadete</td>
                        }

                        <td>
                            <section class="table-botones">
                                @if (pedido.Estado == estado.SinAsignar)
                                {
                                    <a asp-controller="Pedido" asp-action="Asignar" asp-route-id="@pedido.NumPedido" class="pedido-asignar">Asignar</a>
                                }
                                @if (pedido.Estado == estado.Pendiente)
                                {
                                    <a asp-controller="Pedido" asp-action="Iniciar" asp-route-id="@pedido.NumPedido" class="pedido-asignar">Iniciar Pedido</a>
                                }
                                @if (pedido.Estado == estado.EnCurso)
                                {
                                    <a asp-controller="Pedido" asp-action="Estado" asp-route-id="@pedido.NumPedido" class="pedido-estado">Entregar</a>
                                }
                                <a asp-controller="Pedido" asp-action="Delete" asp-route-id="@pedido.NumPedido" class="pedido-borrar">Borrar</a>
                                <a asp-controller="Pedido" asp-action="Details" asp-route-id="@pedido.NumPedido" class="pedido-detalles">Detalles</a>
                            </section>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>No existe ningún pedido</h3>
    }
    
</section>