@{
    ViewData["Title"] = "Crear cliente";
}

@model Cadeteria.ViewModels.CrearClienteViewModel

<section class="crear-cliente">
    <h2>Crear cliente</h2>
    <form method="post" class="form-create">
        <h3>Datos del cliente</h3>
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre">
        <label asp-for="@Model.Direccion"></label>
        <input asp-for="@Model.Direccion">
        <label asp-for="@Model.Telefono"></label>
        <input asp-for="@Model.Telefono">
        <button>Ingresar</button>
    </form>
</section>