@{
    ViewData["Title"] = "Editar cliente";
}

@model Cadeteria.ViewModels.ClienteViewModel

<section class="editar-cliente">
    <h2>Editar cliente</h2>
    <form method="post">
        <h3>Datos del cliente</h3>
        <input asp-for="@Model.ID" value="@Model.ID" hidden>
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" value="@Model.Nombre">
        <label asp-for="@Model.Direccion"></label>
        <input asp-for="@Model.Direccion" value="@Model.Direccion">
        <label asp-for="@Model.Telefono"></label>
        <input asp-for="@Model.Telefono" value="@Model.Telefono">
        <button>Editar</button>
    </form>
</section>