@{
    ViewData["Title"] = "Crear cadete";
}

@model Cadeteria.ViewModels.CrearCadeteViewModel

<section class="crear-cadete">
    <h2>Crear cadete</h2>
    <form method="post" class="form-create">
        <h3>Datos del cadete</h3>
        <input asp-for="@Model.ID" value="0" hidden>
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre">
        <label asp-for="@Model.Direccion"></label>
        <input asp-for="@Model.Direccion">
        <label asp-for="@Model.Telefono"></label>
        <input asp-for="@Model.Telefono">
        <button>Ingresar</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}